.headerStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212126;
  padding: 1vw 8vw;
  padding-top: 1.5vw;

  a {
    text-decoration: none;
    color: #ffffff;
  }
}
